[submodule "source"]
	path = source
	url = https://github.com/infiWang/HexoBlogSource.git
[submodule "themes/volantis"]
	path = themes/volantis
	url = https://github.com/infiWang/hexo-theme-volantis-infiBlog.git
